.players{
    float: left;
    padding-top: 15%;
    font-size: 40px;
    margin-right: 10%;
    margin-left: 2%;
    color: #DCF2F1;
}

body{
    background-color: black;
}

table{
    margin-top: 4%;
}

td{
    border: 3px black solid;
    width: 200px;
    height: 20vh;
    background-color: #DCF2F1;
    text-align: center; 
}

button{
    background-color: #DCF2F1;
    border: none;
    font-size: 70px;
}

.btn1{
    visibility: show;
    z-index: 2;
    position: absolute;
}

.btn2{
    visibility: hidden;
}

.btn1:active {
    visibility: hidden;
}

.btn1:active + .btn2{
    visibility: visible;
}